body{
    background-color:#F3E2A9;
}

.textoPersona{
    font-size: 20px;
    display: none;
}
.producto{
    color: #0080FF;
    font-size: 25px;
}

.textoPago{
    font-size: 20px;
}
